html {
    width: 100%;
    height: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.boxes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.boxes > div {
    background-color: yellow;
    border: 5px solid black;
    height: 100px;
    width: 100px;
    margin: 1em;
}

main {
    height: 100vh;
    width: 75%;
    border: 10px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.random-colors {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

aside {
    display: flex;
    width: 25%
}